* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
}